.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.projectList {
  display: flex; 
  flex-direction: column; 
  flex-wrap: wrap;
  height: 3000px;
  align-content: space-between;
}

.projectList .picture {
  margin-bottom: 2%;
  width: 32%;
}

.picture:nth-child(3n+1) { order: 1; }
.picture:nth-child(3n+2) { order: 2; }
.picture:nth-child(3n)   { order: 3; }

.projectList::before,
.projectList::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.toolbar {
  margin-top: 30px;
  margin-bottom: 30px;
}

.toolbar button.active {
  background-color: #3b3d40;
}

.toolbar button {
  margin-right: 10px;
}